.pd_table {

}

.pd_table td {
    padding: 10px;
}

.pd_figure {
    border: 2px solid steelblue;
    border-radius: 4px;
}

.pd_svg {
    padding: 20px 5px 0px 5px;
}

.pd_caption {
    background: #f0f4f5;
    color: steelblue;
    text-align: center;
}

.pd_dis {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
    height: 300px;
}

.pd_dis li span {
    margin-left: 5px;
}
